@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ضمانت‌نامه بانکی</h1>
    <p>برای اضافه کردن و یا خواندن ضمانت‌نامه‌های بانکی به <a asp-controller="Guarantee" asp-action="Index">این صفحه</a> مراجعه فرمایید.</p>
</div>
